@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    color: #030712;
    background-color: #EFEFEF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.375rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-family: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

.navbar-social {
    width: 100%;
    background-color: #fff;
    border-bottom: 0.25rem solid #F7941E;
}
.navbar-logo {
    width: auto;
    height: 60px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-social-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.social-group {
    list-style: none;
}
ul.social-group li {
    display: inline-block;
    padding: 0 5px;
}
ul.social-group li:first-child {
    padding-left: 0;
}
ul.social-group li:last-child {
    padding-right: 0;
}

.navbar-title {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
}

.btn-social {
    text-decoration: none;
    background-color: #004A8D;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #004A8D;
    border-radius: 50%;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
.btn-social:hover {
    background-color: #F7941E;
    border-color: #F7941E;
    scale: 1.2;
}

.navbar-menu {
    width: 100%;
    background-color: #004A8D;
    color: #fff;
}

.navbar-menu-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu-group {
    list-style: none;
}
ul.menu-group li {
    display: inline-block;
    padding: 0 10px;
}
ul.menu-group li:first-child {
    padding-left: 0;
}
ul.menu-group li:last-child {
    padding-right: 0;
}

ul.menu-group li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
ul.menu-group li a:hover{
    color: #F7941E;
}

.img-banner {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.card {
    width: 100%;
    border-radius: 0.35rem;
    color: #030712;
    background-color: #fff;
}
.card-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}
.card-body {
    padding: 20px;
}

.jumbotron-senac-blue {
    background-color: #004A8D;
    color: #fff;
}

.list-curso {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    width: 100%;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-input {
    display: block;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1E2939;
    padding: 0.675rem 0.75rem;
    border: 1px solid #99A1AF;
    border-radius: 0.35rem;
    outline: 0;
}
.form-input:focus {
    border-color: #004A8D;
    box-shadow: 0 0 10px #004A8D66;
}
input[type='file'].form-input::file-selector-button {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: #004A8D;
    border: none;
    padding: 0.675rem 0.75rem;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    transition: background;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
input[type='file'].form-input::file-selector-button:hover {
    color: #fff;
    background-color: #F7941E;
}
input[type='file'].form-input {
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    font-size: 1rem;
    color:#030712;
    background-color: #D1D5DC;
    border: 1px solid #99A1AF;
    border-radius: 0.35rem;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
.btn-senac {
    color: #fff;
    background-color: #004A8D;
    border-color: #004A8D;
}
.btn-senac:hover {
    background-color: #F7941E;
    border-color: #F7941E;
    scale: 1.2
}

.footer-senac {
    display: block;
    width: 100%;
    background-color: #004A8D;
    color: #fff;
    border-top: 0.25rem solid #F7941E;
}